[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"

[dev-packages]
flit = "*"
mypy = "*"
ruff = "*"
pytest = "*"

[requires]
python_version = "3.10"

[scripts]
setup = "pre-commit install"
check = "mypy ./phpypy"
lint = "ruff check ./phpypy"
format = "ruff format ./phpypy"
test = "pytest ./phpypy"
