[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flit = "*"
mypy = "*"
ruff = "*"
pytest = "*"
pyright = "*"

[requires]
python_version = "3.10"

[scripts]
check = "pyright ./phpypy"
lint = "ruff check ./phpypy"
format = "ruff format ./phpypy"
test = "pytest ./phpypy"
